@model User

@{
    ViewData["Title"] = "Смена пароля";
}


<div class="container">
    <form method="post" asp-controller="Auth" asp-action="NewPassword" asp-antiforgery="true">
        <div class="form-group mt-3">
            <input class="form-control" asp-for="Login" placeholder="Введите свой логин">
            <span asp-validation-for="Login"></span>
        </div>
        <div class="form-group mt-3">
            <input class="form-control" asp-for="Password" placeholder="Введите старый пароль">
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group mt-3">
            <input class="form-control" asp-for="NewPassword" placeholder="Введите новый пароль">
            <span asp-validation-for="NewPassword"></span>
        </div>
        <input class="btn btn-success mt-3" type="submit" value="Cменить пароль">
    </form>
</div>