@{
    ViewData["Title"] = "Система учета работников";
}

<h2>Система учета работников</h2>
<p>Для просмотра, добавления, редактирования работников, пожалуйста, авторизуйтесь</p>
<p><b>ВНИМАНИЕ! РЕГИСТРИРОВАТЬ НОВЫХ ПОЛЬЗОВАТЕЛЕЙ МОЖЕТ ТОЛЬКО АДМИНИСТРАТОР</b></p>